body {
    background-color: #AAFFAA;
    font-size: 20px;
    margin: 5% 10%;
}

.container {
    width: 50%;
    padding: 1%;
    margin: auto;
    text-align: center;
    background-color: white;
    color: #333;
    border: 1px solid;
    border-color: brown;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4rem;
}

nav {
    text-align: center;
    }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(127,170,255);
    display: flex;
    justify-content: center;
}

li {
    padding: 1%;
    font-size: 1.5rem;
}

ul li a {
    display: block;
    text-align: center;
    color: white;
    text-align: center;
    text-decoration: none;
}

ul li a:hover{
    color:black;
}

article {
    font-size: 2rem;
    color: #333;
    padding: 3%;
}

article p {
    margin-top: 2rem;
}

article h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

article figure {
    margin: 2rem 0;
}

.container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

figcaption {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-style: italic;
}